<!DOCTYPE html>
<div id="factorSelectionCfg">
    <fieldset>
        <legend>Factors selection configuration:</legend>
        <table class="predictionCfgTable">
            <tr>
                <td>
					<label class="main">Select Serie's name </label> 
                </td>
                <td>
					<div class="mfSelector"></div>
                </td>
            </tr>
			<tr>
                <td>
                    <label class="main">Historical interval</label>
                </td>
                <td>
                    <div id="historicalInterval">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Frequency</label>
                </td>
                <td>
                    <div id="frequency" class="comboAutocomplete">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Suggestion method</label>
                </td>
                <td>
                    <div id="suggestionMethod" class="comboAutocomplete">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Maximal number of factors</label>
                </td>
                <td>
                    <div>
                        <input id ="maximalNumberInput" type="number" class="comboAutocomplete"/>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <label class="main">Minimal quality</label>
                </td>
                <td>
                    <div>
                        <input id ="minimalQualityInput" type="number" class="comboAutocomplete"/>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</div>

