<!DOCTYPE html>
<div id="factorSelectionCfg">
    <fieldset>
        <legend>Factors selection configuration:</legend>
        <table class="predictionCfgTable">
            <tr>
                <td colspan="3">
                    <div id="uploadForm"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Uploaded file name</label>
                </td>
                <td>
                    <div id="fileName">
                        <input id ="fileNameInput" class="readOnlyInput" type="text" readonly/>
                    </div>
                </td>
                <td>
                    <div class="chart-icon hidden">
                        <img 
                            src="css/img/chart.png"
                            alt="Chart is missing" />
                    </div>
                </td>
            </tr>
            <tr class="tr-line">
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Historical interval</label>
                </td>
               <td colspan="2">
                    <div id="historicalInterval">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Frequency</label>
                </td>
               <td colspan="2">
                    <div id="frequency" class="comboAutocomplete">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Suggestion method</label>
                </td>
                <td colspan="2">
                    <div id="suggestionMethod" class="comboAutocomplete">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Maximal number of factors</label>
                </td>
                <td colspan="2">
                    <div>
                        <input id ="maximalNumberInput" type="number" class="comboAutocomplete"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Minimal quality</label>
                </td>
                <td colspan="2">
                    <div>
                        <input id ="minimalQualityInput" type="number" class="comboAutocomplete"/>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</div>

