<!DOCTYPE html>
<!--
EuroRisk Systems (c) Ltd. All rights reserved.

-->

<div id="intervalConfig">
    <fieldset>
        <legend id="legendName"></legend>
        <table class="predictionCfgTable">
            <tr>
                <td>
                    <pre id="intervalLabel" class="main"></pre> 
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Select interval:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">From</label>
                    <input id ="date_from" class="" type="text" readonly="true"/>
                    <label class="main">To</label>
                    <input id ="date_to" class="" type="text" readonly="true"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input id ="intervalButton" class="commandButton" type="button" />
                </td>
            </tr>
        </table>
    </fieldset>
</div>

