<!DOCTYPE html>
<!--
EuroRisk Systems (c) Ltd. All rights reserved.

-->

<div id="predictConfig">
    <fieldset>
        <legend>Prediction configuration:</legend>
        <table class="predictionCfgTable">
            <tr>
                <td colspan="2">
                    <div id="uploadForm"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Uploaded file name</label>
                </td>
                <td>
                    <div id="fileName">
                        <input id ="fileNameInput" class="readOnlyInput" type="text" readonly/>
                    </div>
                </td>
                <td>
                    <div class="chart-icon hidden">
                        <img 
                            src="css/img/chart.png"
                            alt="Chart is missing" />
                    </div>
                </td>
            </tr>
            <tr class="tr-line">
                <td colspan="3">
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Historical price frequency</label>
                </td>
                <td colspan="2">
                    <div id="historicalPriceFrequency">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Historical market data period</label>
                </td>
                <td colspan="2">
                    <div id="historicalInterval">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Prediction horizon</label>
                </td>
                <td colspan="2">
                    <div id="predictionHorizon">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Backward analytical period</label>
                </td>
                <td colspan="2">
                    <div id="backwardAnalyticalPeriod">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="main">Historical prediction step</label>
                </td>
                <td colspan="2">
                    <div id="historicalPredictionStep">
                        <input id ="predictStep" type="number" value="2"/>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</div>

