<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="predictWindow scroll">
			<table class="configTable">
				<tr> 
					<td>
						<div id="factorSelectionCfg">
						</div>
					</td>
					<td>
						<input id ="loadFactorsButton" class="commandESGButton" type="button" value="Load factors"/>
						<br>
						<br>
						<input id ="suggestFactorsButton" class="commandESGButton" type="button" value="Suggest ESG indexes" disabled/>
						<br>
						<br>
						<input id ="clearUnselectedButton" class="commandESGButton" type="button" value="Clear unselected" disabled/>
						<br>
						<br>
						<input id ="findFormulaButton" class="commandESGButton" type="button" value="Find formula" disabled/>
						<br>
						<br>
						<input id ="compareSeriesButton" class="commandESGButton" type="button" value="Compare series" disabled/>
						<br>
						<br>
						<input id ="calculateButton" class="commandESGButton" type="button" value="ESG" disabled/>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
