<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>See series</title>
    </head>

    <body>
		<table class="seeSeriesTable">
			<tr>
				<td class="labelTd">
					<label class="main">Choose series name:</label>
				</td>
				<td >
					<div id="combo_zone" class="comboAutocomplete"></div>
				</td>
				<td class="labelTd">
					<input type="button" value="load" name="Load series" id="loadSeries" class="loadButton"/>
				</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">
					<div id="chart_container"></div>
				</td>
				<td valign="top">
					<div id="gridbox"></div>
					<div class="pager"><span id="pagingArea"></span></div>
				</td>
			</tr>
		</table>
	</body>
</html>