<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DeletePredictionResultsServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.prediction.DeletePredictionResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportEsgResultServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.excel.ExportEsgResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuotesUploaderServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.QuotesUploaderServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DeleteSeriesServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.series.DeleteSeriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSessionQuotesServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.series.LoadSessionQuotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportPredictionresultsServlet</servlet-name>
        <url-pattern>/exportPredictResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePredictionResultsServlet</servlet-name>
        <url-pattern>/deletePredictionResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportEsgResultServlet</servlet-name>
        <url-pattern>/exportEsgResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuotesUploaderServlet</servlet-name>
        <url-pattern>/quotesUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSeriesServlet</servlet-name>
        <url-pattern>/deleteSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSessionQuotesServlet</servlet-name>
        <url-pattern>/loadQuotes</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PredictionServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.prediction.PredictionServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploaderServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.UploaderServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFactorsServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.series.GetFactorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSeriesServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.series.LoadSeriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFactorsServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.LoadFactorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvaluationServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.CreateEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvaluationServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.DeleteEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestFactorsServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.SuggestFactorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindFormulaServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.FindFormulaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPredictionresultsServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.excel.ExportPredictionResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculationServlet</servlet-name>
        <servlet-class>com.ers.v1.servlet.esg.CalculationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PredictionServlet</servlet-name>
        <url-pattern>/predict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploaderServlet</servlet-name>
        <url-pattern>/uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvaluationServlet</servlet-name>
        <url-pattern>/esg/deleteEval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFactorsServlet</servlet-name>
        <url-pattern>/getFactors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSeriesServlet</servlet-name>
        <url-pattern>/loadSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFactorsServlet</servlet-name>
        <url-pattern>/esg/loadFactors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestFactorsServlet</servlet-name>
        <url-pattern>/esg/suggestFactors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvaluationServlet</servlet-name>
        <url-pattern>/esg/createEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindFormulaServlet</servlet-name>
        <url-pattern>/esg/findFormula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculationServlet</servlet-name>
        <url-pattern>/esg/calculate</url-pattern>
    </servlet-mapping>
    <servlet id="jsp">
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>keepgenerated</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
</web-app>
